<div class="page-wrapper fade-in-up" *ngIf="student">

    <!-- Page Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center gap-3">
            <button class="btn-icon-sm btn-icon-view" routerLink="/students" title="Back">←</button>
            <div>
                <h2 class="font-heading mb-0" style="font-size: 20px; font-weight: 700;">{{student.firstName}} Profile
                </h2>
                <p class="text-muted-sms mb-0" style="font-size: 13px;">Detailed view</p>
            </div>
        </div>
        <div class="d-flex gap-2">
            <button class="btn-sms-outline" style="font-size: 13px; padding: 8px 16px;" (click)="onUpdate()"
                *ngIf="!isEdit">
                Edit
            </button>
            <button class="btn-sms-outline" style="font-size: 13px; padding: 8px 16px;" (click)="onSave()"
                *ngIf="isEdit">
                Save
            </button>
            <button class="btn-sms-danger" style="font-size: 13px; padding: 8px 16px;" (click)="onDelete()">
                Delete
            </button>
        </div>
    </div>


    <!-- Two-column layout -->
    <div class="row g-4" style="--bs-gutter-x: 20px;">

        <!-- LEFT: Profile sidebar -->
        <div class="col-lg-3">
            <div class="profile-card form-section">

                <!-- Avatar -->
                <div class="profile-avatar-xl"> {{ student.firstName.charAt(0) }} {{ student.lastName.charAt(0) }}
                </div>
                <p class="profile-name" *ngIf="!isEdit">{{ student.firstName }} {{ student.lastName }}</p>
                <!-- EDIT -->
                <div *ngIf="isEdit" class="profile-name d-flex gap-2 mx-auto mb-3">
                    <input class="form-control" [(ngModel)]="student.firstName" name="firstName">

                    <input class="form-control" [(ngModel)]="student.lastName" name="lastName">
                </div>

                <!-- Department and Year-->
                <p class="profile-sub" *ngIf="!isEdit">{{ student.department }} · Year {{ student.level }}</p>

                <div *ngIf="isEdit" class="profile-name d-flex gap-2 mx-auto mb-3">
                    <select [(ngModel)]="student.department" name="department" class="form-select mx-auto"
                        *ngIf="isEdit">
                        <option value="Computer Science">Computer Science</option>
                        <option value="Electrical">Electrical</option>
                        <option value="Mechatronics">Mechatronics</option>
                        <option value="Industrial">Industrial</option>
                        <option value="Petrolchemicals">Petrolchemicals</option>
                        <option value="Mechanical">Mechanical</option>
                        <option value="Architectural">Architectural</option>
                    </select>

                    <input class="form-control" [(ngModel)]="student.level" name="level">
                </div>

                <span class="sms-badge" [ngClass]="{
                'badge-active':   student.isActive === true,
                'badge-inactive': student.isActive === false,
              }" *ngIf="!isEdit">
                    {{ student.isActive ? 'Active' : 'Inactive' }}
                </span>
                <select [(ngModel)]="student.isActive" name="isActive" class="form-select w-50 mx-auto" *ngIf="isEdit">
                    <option [ngValue]="true">Active</option>
                    <option [ngValue]="false">Inactive</option>
                </select>

                <div class="profile-divider"></div>

                <!-- Info rows -->
                <div class="profile-row">
                    <span class="profile-row-label">Student ID</span>
                    <span class="profile-row-val">{{ student.id }}</span>
                </div>
                <div class="profile-row">
                    <span class="profile-row-label"> GPA / 4</span>
                    <span class="profile-row-val fw-700 " *ngIf="!isEdit">{{ student.GPA }}</span>
                    <input class="form-control ms-5" [(ngModel)]="student.GPA" name="gpa" *ngIf="isEdit">

                </div>
                <!-- Enrollment Date -->
                <div class="profile-row">
                    <span class="profile-row-label">Enrolled</span>
                    <span class="profile-row-val" *ngIf="!isEdit">{{ student.enrollmentDate }}</span>
                    <input type="date" class="form-control ms-3" [(ngModel)]="student.enrollmentDate" name="enrollmentDate"
                        *ngIf="isEdit">
                </div>

                <div class="profile-row">
                    <span class="profile-row-label">Phone</span>
                    <span class="profile-row-val" *ngIf="!isEdit">{{ student.phone }}</span>
                    <input class="form-control ms-4" [(ngModel)]="student.phone" name="phone" *ngIf="isEdit">


                </div>

                <div class="profile-divider"></div>

                <div class="profile-row">
                    <span class="profile-row-label">Email</span>
                </div>
                <p style="font-size: 12.5px; color: var(--primary); word-break: break-all; text-align: left; margin: 2px 0 0;"
                    *ngIf="!isEdit">
                    {{ student.email }}
                </p>
                <input *ngIf="isEdit" type="email" type="text" class="form-control" [(ngModel)]="student.email"
                    name="email">

            </div>
        </div>

        <!-- RIGHT: Tab + Content -->
        <div class="col-lg-9 d-flex flex-column gap-4">

            <!-- Grades card -->
            <div class="sms-card">
                <div class="sms-tabs">
                    <div class="sms-tab">Personal Info</div>
                </div>

                <!-- Personal Info Tab -->
                <div class="fade-in" style="padding: 24px;">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <p
                                style="font-size: 11.5px; font-weight: 700; color: var(--text-muted); text-transform: uppercase; letter-spacing: 0.05em; margin-bottom: 4px;">
                                Full Address</p>
                            <p style="font-size: 14px; color: var(--text-secondary); margin: 0;" *ngIf="!isEdit">{{
                                student.address }},
                                {{student.city}}</p>
                            <div *ngIf="isEdit" class="d-flex gap-2">
                                <input class="form-control" [(ngModel)]="student.address" name="address">

                                <input class="form-control" [(ngModel)]="student.city" name="city">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p
                                style="font-size: 11.5px; font-weight: 700; color: var(--text-muted); text-transform: uppercase; letter-spacing: 0.05em; margin-bottom: 4px;">
                                Gender</p>
                            <p style="font-size: 14px; color: var(--text-secondary); margin: 0;">{{
                                student.gender }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p
                                style="font-size: 11.5px; font-weight: 700; color: var(--text-muted); text-transform: uppercase; letter-spacing: 0.05em; margin-bottom: 4px;">
                                Age</p>
                            <p style="font-size: 14px; color: var(--text-secondary); margin: 0;" *ngIf="!isEdit">{{
                                student.age
                                }}</p>
                            <input class="form-control" [(ngModel)]="student.age" name="age" *ngIf="isEdit">

                        </div>
                        <div class="col-md-6">
                            <p
                                style="font-size: 11.5px; font-weight: 700; color: var(--text-muted); text-transform: uppercase; letter-spacing: 0.05em; margin-bottom: 4px;">
                                Country</p>
                            <p style="font-size: 14px; color: var(--text-secondary); margin: 0;" *ngIf="!isEdit">{{
                                student.country }}></p>
                            <input class="form-control" [(ngModel)]="student.country" name="country" *ngIf="isEdit">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>